@model Res.Data.Entities.Category

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDelete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEdit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEdit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEdit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
