@model  Res.Data.ViewModels.BookingVM

@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}





<div class="row">
    <div class="col-12">
        <div class="card" style=" height: 800px;">
            <div class="card-body">
                <h4 class="card-title">Default Ordering</h4>

                <div class="table-responsive">
                    <table id="default_order" class="table table-striped table-bordered display no-wrap"
                           style="width:100%">
                        <thead>
                            <tr>
                                <th>Notes</th>
                                <th>Booking Type</th> 
                                <th>Number Of People</th>
                                <th>Booking Status</th>
                                <th>Booking Date</th> 
                                <th>Phone No</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BookingList)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Notes)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingType.BookingTypeName)
                                </td>
                                 
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumberOfPeople.Number)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingStatus.StatusName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BookingDate)
                                </td> 
                                <td>
                                    @Html.DisplayFor(modelItem => item.PhoneNo)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a> |
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            }

                        </tbody>
                        @*<tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





<link href="~/AdminSection/assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">

@section Scripts{
    <!--This page plugins -->
    <script src="~/AdminSection/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/AdminSection/dist/js/pages/datatable/datatable-basic.init.js"></script>
}
