@model Res.Data.ViewModels.BookingVM

@{
    ViewData["Title"] = "Upsert";
    var title = "Create";
}

<hr />
<div class="container">
    <div class="col-md-4">
        <form asp-action="Upsert">
            @if (Model.Booking.Id != 0)
            {
                title = "Edit Product";
                <input asp-for="Booking.Id" hidden />
            }

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Booking.BookingTypeId" class="control-label"></label>
                <select id="BookingType" onchange ="myFunction()" asp-for="@Model.Booking.BookingTypeId" class="form-control" asp-items="@Model.BookingTypeDrop">
                    <option value="0" selected > __ Select __</option>
                </select>
                <span asp-validation-for="@Model.Booking.BookingTypeId" class="text-danger"></span>
            </div>

            <div class="form-group" id="SpecialEventId">
                <label asp-for="@Model.Booking.SpecialEventId" class="control-label"></label>
                <select  asp-for="@Model.Booking.SpecialEventId" class="form-control" asp-items="@Model.SpecialEventDrop"></select>
                <span asp-validation-for="@Model.Booking.SpecialEventId" class="text-danger"></span>
            </div>
            <div class="form-group" id="ProductsId">
                <label asp-for="@Model.Booking.ProductsId" class="control-label"></label>
                <select   asp-for="@Model.Booking.ProductsId" class="form-control" asp-items="@Model.ProductDrop"></select>
                <span asp-validation-for="@Model.Booking.ProductsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Booking.NumberOfPeopleId" class="control-label"></label>
                <select asp-for="@Model.Booking.NumberOfPeopleId" class="form-control" asp-items="@Model.NumberOfPeopleDrop"></select>
                <span asp-validation-for="@Model.Booking.NumberOfPeopleId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.Booking.BookingDate" class="control-label"></label>
                <input asp-for="@Model.Booking.BookingDate" class="form-control" />
                <span asp-validation-for="@Model.Booking.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Booking.FullName" class="control-label"></label>
                <input asp-for="@Model.Booking.FullName" class="form-control" />
                <span asp-validation-for="@Model.Booking.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Booking.PhoneNo" class="control-label"></label>
                <input asp-for="@Model.Booking.PhoneNo" class="form-control" />
                <span asp-validation-for="@Model.Booking.PhoneNo" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>



@section Scripts{

    <script> 
        document.getElementById("ProductsId").style.display = "none";
        document.getElementById("SpecialEventId").style.display = "none";
        function myFunction() {
            var x = document.getElementById("BookingType").value;
            console.log(x);

            if (x == 1) {
                document.getElementById("ProductsId").style.display = "none";
                document.getElementById("SpecialEventId").style.display = "none";
            }
            else if (x == 2) {
                document.getElementById("ProductsId").style.display = "block"; 
            }
            else if (x == 3) {
                //document.getElementById("ProductsId").style.display = "block";
                document.getElementById("SpecialEventId").style.display = "block";
            }
            else {
                document.getElementById("ProductsId").style.display = "block";
                document.getElementById("SpecialEventId").style.display = "block";
            } 
        }
 
    </script>


}